body {
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
    padding: 20px;
    min-width: 800px;
    align-content: center;
    background-color: rgb(56, 32, 0);
    color: rgb(56, 32, 0);
}

.main {
    background-color: burlywood;
    padding: 20px;
    max-width: 800px;
    min-width: 600px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: rgb(56, 32, 0);
}

th {
    color: wheat;
    background-color: rgb(56, 32, 0);
}

td {
    background-color: rgb(222, 193, 154);
}

th,
td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}


#searchbutton:disabled {
    background-color: grey;
    cursor: not-allowed;
}

button {
    background-color: rgb(56, 32, 0);
    color: white;
    border: none;
    padding: 7px 15px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: rgb(85, 49, 15);
}

textbox,
input[type="text"],
input[type="number"] {
    background-color: cornsilk;
    color: #000;
}

span {
    color: red;
}

#updateModal {
    display: flex;
    position: fixed;
    top: 27%;
    left: 35%;
    width: 27%;
    height: 53%;
    background: black;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

#model-content {
    background: whitesmoke;
    color: black;
    margin-top: 30px;
    margin-left: 30px;
    padding: 20px;
    border-radius: 8px;
    width: 70%;
    position: relative;
    padding: auto;
    border-radius: 10px;
}

#model-content button {
    background-color: rgb(46, 42, 42);
}

#closeModal {
    position: absolute;
    top: 5px;
    right: 10px;
    cursor: pointer;
    font-size: 50px;
    font-weight: bold;
    color: black;
}

.items {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    max-height: 300px;
    overflow-y: auto;
}

.item-card {
    background-color: rgb(231, 149, 42);
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    width: 150px;
    text-align: center;
}

.item-card:hover {
    background-color: rgb(230, 202, 166);
}

nav {
    margin-bottom: 10px;
    gap: 10px;
    display: flex;
    justify-content: center;
    background-color: rgb(231, 149, 42);
    height: 30px;
    padding: 10px;
}

.formdiv {
    background-color: burlywood;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#Attributeformdiv {
    background-color: burlywood;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

#attributes {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: rgb(222, 193, 154);
}