body {
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
    padding: 20px;
    max-width: 800px;
    align-content: center;
    background-color: rgb(56, 32, 0);
    color: rgb(56, 32, 0);
}

.main {
    background-color: burlywood;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: rgb(56, 32, 0);
}

th {
    color: wheat;
    background-color: rgb(56, 32, 0);
}

td {
    background-color: rgb(222, 193, 154);
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

button {
    background-color: rgb(56, 32, 0);
    color: white;
    border: none;
    padding: 7px 15px;
    border-radius: 5px;
    cursor: pointer;
}

textbox, input[type="text"], input[type="number"] {
    background-color: cornsilk;
}

span {
    color: red;
}
