<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Item Form</title>
    <link rel="stylesheet" href="./style/index.css">
</head>

<body>
    <nav>
        <a href="./index.html">Item Display</a>
        <a href="./form.html">Item form</a>
    </nav>
    <div>
        <form id="itemform" method="post">
            Item tag:<input type="text" name="tag" required>
            Price:<input type="number" name="price" required>
            Description:<input type="text" name="description">
            <button type="submit">Save</button>
        </form>
        <span id="itemformtag"></span>
        <span id="itemformprice"></span>
        <span id="itemformdescription"></span>
        <div id="loader"
            style="display:none; position:fixed; top:10px; right:10px; background:#ddd; padding:10px; border-radius:5px;">
            Loading...</div>
    </div>
    <div id="success"></div>
    <script src="./script/form.js"></script>
</body>

</html>