<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Item Display</title>
    <link rel="stylesheet" href="./style/index.css">
</head>

<body>
    <nav>
        <button onclick="window.location.href='/'">Items</button>
        <button onclick="window.location.href='./form.html'">Item form</button>
    </nav>
    <div class="main">
        <h1>Items and Attributes</h1>
        <br>
        <div>
            <form id="searchbar" method="get">
                Search Item: <input type="text" name="search">
                <button type="submit" id="searchbutton">Search</button>
            </form>
            <button onclick="sort()"><img src="./img/arrow.png" style="width: 15px;"></button>
        </div>
        <div id="items"></div>
        <br>
        <div id="loader"
            style="display:none; position:fixed; top:10px; right:10px; background:#ddd; padding:10px; border-radius:5px;">
            Loading...</div>
    </div>
    <script src="./script/index.js"></script>
</body>

</html>